header{
	text-align: center;
}
header img {
	max-width: 200px;
	
}
.left {
	float: left;
	margin-right: 20px;
	width: 60%;
}
.right {
	float: right;
	margin-left: 20px;
	width: 35%;
}
.service {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
footer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
